<ion-view view-title="Contacts">

    <div class="bar bar-header bar-positive">
        <h1 class="title">CONTACTS</h1>
    </div>

    <ion-content class="padding has-header has-footer">
        <div class="list card">
            <div class="item item-divider">Contact</div>
            <div class="item item-body">
                <div>
                    <b>{{contacts.myDataOnScope}}</b>
                </div>
            </div>
        </div>
    </ion-content>

    <ion-tabs class="tabs-icon-top">
        <a class="tab-item" ng-link="main">
            <i class="icon ion-arrow-up-b"></i>MAIN
        </a>
    </ion-tabs>
</ion-view>
